/*Admin Side nav*/
.sidenav a:hover {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: white;
    font-weight: bold;
}

#padding {
    padding-left: 25px;
    padding-right: 25px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s;
    }

/*Background Color*/
/*body {
    background-color: #263a4e;
}*/

/*Custom Container*/
.custom-container {
    margin:8px 5px 8px 5px;
    border:2px solid black;
    padding:4px 3px 4px 3px;
}