.sidnav a:hover {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: white;
    font-weight: bold;
}

#padding {
    padding-left: 25px;
    padding-right: 25px;
}
