@using Microsoft.AspNet.Identity
@using FPJobBoard.Data.EF;
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        #region Get logged on user and greet with user detail info
        FPDBEntities ctx = new FPDBEntities();

        string userID = User.Identity.GetUserId();

        UserDetail currentUser = ctx.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();

        string userFN = "Guest";

        if (currentUser != null)
        {
            userFN = currentUser.FullName;
        }
        #endregion

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + userFN + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { divId="ScrollDivID"}, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { divId="ScrollDivID"}, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
