@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete This Role?";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

<div id="profileContainer">
    <div id="profileHeader">
        <h4>Deleting this Role will remove all users from this role. It will not delete the users.</h4>
    </div>
    <div class="clearfix"></div>
    <div id="profileCenter">
        <fieldset>
            <legend>Role</legend>
            <p>
                @Html.DisplayFor(model => model.Name)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "RolesAdmin", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        }
    </div>
    <div class="clearfix"></div>
</div>

