@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}

<h2 id="ScrollDivID">Details.</h2>

<div id="profileContainer">
    <div class="clearfix"></div>
    <div id="profileCenter">
        <fieldset>
            <legend>Role</legend>
            <p>
                @Html.DisplayFor(model => model.Name)
            </p>
        </fieldset>
    </div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "RolesAdmin", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id, divId="ScrollDivID" }, new { @class="btn btn-outline-warning"}) 
    </div>
    <div class="clearfix"></div>
</div>

<h4>List of users in this role</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
</p>



